---
import Counter from "../components/Counter";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-3xl font-bold mb-3">Astro</h1>
    <Counter client:visible />
  </body>
</html>
